
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.display-create').click(function () {
            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: '@Url.Action("Create")',
                success: function (result) {
                    $('#view').html(result);
                }
            });
        });
        $('.edit-post').submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'html',
                url: '@Url.Action("Edit")',
                success: function (result) {
                    $('#view').html(result);
                }
            });
        });
        $('.detail-post').submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'html',
                url: '@Url.Action("Details")',
                success: function (result) {
                    $('#view').html(result);
                }
            });
        });
            $('.delete-post').submit(function (event) {
            event.preventDefault();
            $.ajax({
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'html',
                url: '@Url.Action("Delete")',
                success: function (result) {
                    $('#view').html(result);
                }
            });
        });
    });

</script>

<h1>Post List</h1>
<a class="btn btn-info display-create">Add Post</a>
<div id="view"></div>
<ul>
    @foreach(var post in Model)
    {
    <li>
        @post.Title
        <form action="Create" class="edit-post">
            <input name="id" type="hidden" value="@post.PostId" />
            <input class="btn btn-info" type="submit" value="Edit" />
        </form>
        <form action="Details" class="detail-post">
            <input name="id" type="hidden" value="@post.PostId" />
            <input class="btn btn-info" type="submit" value="Details" />
        </form>
        <form action="Delete" class="delete-post">
            <input name="id" type="hidden" value="@post.PostId" />
            <input class="btn btn-danger" type="submit" value="Delete" />
        </form>
    </li>
    }
</ul>
